

#emotions {
	position: rel;
	max-width: fit-content;
	max-height: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index:3;
	position: relative;
	width: 300px;  /* Set to accommodate the largest "emotion cake" */
	height: 300px; /* Set to accommodate the largest "emotion cake" */
}

.emotions3 {
	position: absolute;
	max-width: fit-content;
	max-height: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index:4;
}

.emotions3 div {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top-width: 160px; /* Default border color if no specific class is added */
	border-top-style: solid;
	transform-origin: 50% 100%; /* Setting the point of rotation to the bottom center */
	}

.emotions2 {
	position: absolute;
	max-width: fit-content;
	max-height: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index:5;
}

.emotions2 div {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top-width: 120px; /* Default border color if no specific class is added */
	border-top-style: solid;
	transform-origin: 50% 100%; /* Setting the point of rotation to the bottom center */
	opacity:0.5;
	border-top-color: #888888;
	}

.emotions1 {
	position: absolute;
	max-width: fit-content;
	max-height: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index:6;
}

.emotions1 div {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top-width: 60px; /* Default border color if no specific class is added */
	border-top-style: solid;
	transform-origin: 50% 100%; /* Setting the point of rotation to the bottom center */
	opacity:0.5;
	border-top-color: #888888;
	}



.top {
	border-top-color: #aaaa00;
	transform: rotate(0deg);
}

.top-right {
	border-top-color: #66ff66;
	transform: rotate(45deg);
}

.right {
	border-top-color: #44ff44;
	transform: rotate(90deg);
}

.bottom-right {
	border-top-color: #00aaaa;
	transform: rotate(135deg);
}

.bottom {
	border-top-color: #4444ff;
	transform: rotate(180deg);
}

.bottom-left {
	border-top-color: #aa00aa;
	transform: rotate(225deg);
}

.left {
	border-top-color: #aa0000;
	transform: rotate(270deg);
}

.top-left {
	border-top-color: #ff4444;
	transform: rotate(315deg);
}







.top2 {
	transform: rotate(0deg);
}

.top-right2 {
	transform: rotate(45deg);
}

.right2 {
	transform: rotate(90deg);
}

.bottom-right2 {
	transform: rotate(135deg);
}

.bottom2 {
	transform: rotate(180deg);
}

.bottom-left2 {
	transform: rotate(225deg);
}

.left2 {
	transform: rotate(270deg);
}

.top-left2 {
	transform: rotate(315deg);
}






.top1 {
	transform: rotate(0deg);
}

.top-right1 {
	transform: rotate(45deg);
}

.right1 {
	transform: rotate(90deg);
}

.bottom-right1 {
	transform: rotate(135deg);
}

.bottom1 {
	transform: rotate(180deg);
}

.bottom-left1 {
	transform: rotate(225deg);
}

.left1 {
	transform: rotate(270deg);
}

.top-left1 {
	transform: rotate(315deg);
}
