
.emotions {
	/*position: relative;*/
	width: 100px;
	height: 100px;
}

.emotions div {
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid
	border-bottom: 50px solid;
	transform-origin: 50% 100%;  /* Setting the point of rotation to the bottom center */
}

.top {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #aaaa00
	transform: translate(0, -25px) rotate(0deg);
}

.top-right {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #66ff66
	transform: translate(-50%, -25px) rotate(45deg);
}

.right {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #44ff44
	transform: translate(-50%, -50%) rotate(90deg);
}

.bottom-right {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #00aaaa
	transform: translate(-50%, 25px) rotate(135deg);
}

.bottom {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #4444ff
	transform: translate(0, 25px) rotate(180deg);
}

.bottom-left {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #aa00aa
	transform: translate(50%, 25px) rotate(225deg);
}

.left {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #aa0000
	transform: translate(50%, -50%) rotate(270deg);
}

.top-left {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 5px solid #ff4444
	transform: translate(50%, -25px) rotate(315deg);
}


.top {
	transform: rotate(0deg);
}

.top-right {
	transform: rotate(45deg);
}

.right {
	transform: rotate(90deg);
}

.bottom-right {
	transform: rotate(135deg);
}

.bottom {
	transform: rotate(180deg);
}

.bottom-left {
	transform: rotate(225deg);
}

.left {
	transform: rotate(270deg);
}

.top-left {
	transform: rotate(315deg);
}