/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp:wght@400;600&display=swap');

.map-container {
    text-align: center;
    z-index: 7;

    font-family:"MedievalSharp";
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    position: relative; /* Ensure child elements are positioned correctly */
    /*background-color: #3a3;*/
    background-color: #adacab;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(150deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(30deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(150deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(60deg, #a8a39877 25%, transparent 25.5%, transparent 75%, #a8a39877 75%, #a8a39877), linear-gradient(60deg, #a8a39877 25%, transparent 25.5%, transparent 75%, #a8a39877 75%, #a8a39877);
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}

#mindmap {
    font-family:"MedievalSharp";
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    position: relative; /* Ensure child elements are positioned correctly */
    /*background-color: #3a3;*/
    background-color: #adacab;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(150deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(30deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(150deg, #a8a398 12%, transparent 12.5%, transparent 87%, #a8a398 87.5%, #a8a398), linear-gradient(60deg, #a8a39877 25%, transparent 25.5%, transparent 75%, #a8a39877 75%, #a8a39877), linear-gradient(60deg, #a8a39877 25%, transparent 25.5%, transparent 75%, #a8a39877 75%, #a8a39877);
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}

.node {
    width: 80px;
    height: 80px;
    background-color: #a2d5f2;
    background-image:url(bush.png)
    /*position: absolute;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    cursor: grab;
    z-index: 9; /* Keep above branches */
}

.branch {
    stroke: black;
    stroke-width: 2px;
    position: absolute;
    z-index: 1; /* Set lower z-index so it's behind nodes */
}

.endpoint {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 9; /* Keep above branches */
}

.label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: black;
    pointer-events: none;
    z-index: 9;
}