/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp:wght@400;600&display=swap');

#map {
    text-align: center;
    z-index: 7;

    font-family:"MedievalSharp";
    width: 100vw;
    height: 90vh;
    border: 1px solid #00ff95;
    position: relative; /* Ensure child elements are positioned correctly */
    /*background-color: #3a3;*/

    overflow: auto;

    border-image-slice:  42 42 42 42;
    border-image-width:  42px 42px 42px 42px;
    border-image-outset:  0px 0px 0px 0px;
    border-image-repeat:  round round;
    border-image-source:  url("border.svg");
    border-style:  solid;
  
    border-image-slice:
    42 42 42 42;
    border-image-width:
    42px 42px 42px 42px;
    border-image-outset:
    0px 0px 0px 0px;
    border-image-repeat:
    round round;
    border-image-source:
    url("border.svg");
    border-style:
    solid;  
    background: #427958; /* Softer green for lawn */
    background-image: 
        radial-gradient(circle, #426142 1px, transparent 0), /* Dark green dots */
        radial-gradient(circle, #5f8a54 1px, transparent 0), /* Lighter green dots */
        radial-gradient(circle, #465c46 1px, transparent 0), /* Yellow dots */
        radial-gradient(circle, #447044 1px, transparent 0), /* Orange dots */
        radial-gradient(circle, #546b46 1px, transparent 0); /* Pink dots */
    background-size: 1em 1em, 2em 2em, 1.5em 1.5em, 1.25em 1.25em, 0.5em 0.5em, 4em;/* Adjust dot sizes */
    background-position: 0 0, 1em 1em, 0.5em 0.5em, 1.5em 1.5em, 2em 2em; /* Adjust dot positions */
}
.node {
    width: 80px;
    height: 80px;
    /*background-color: #a2d5f2;*/
    background-color: rgba(0,0,0,0);
    background-image:url(bush.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;          
    background-position: bottom;  
    /*position: absolute;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    border-radius: 5px;
    cursor: grab;
    z-index: 9; /* Keep above branches */
}

.marked {
    background-color: #a2d5f2;
}

.branch {
    color: #ff0000;
    font-weight:bold;
    stroke: #444422;
    stroke: #ff0000;
    stroke-width: 10px;
    border-color: #444422;
    Background-color: #444422;
    border-width: 10px;
    position: absolute;
    z-index: 9; /* Set lower z-index so it's behind nodes */
}

.endpoint {
    width: 20px;
    height: 20px;
    background-color: #444422;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 9; /* Keep above branches */
}

.label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: black;
    pointer-events: none;
    z-index: 9;
}