body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	font-family: 'Cabin', sans-serif;
	overflow: hidden;
	position: relative;
}

#datetime {
	color: white;
	background-color: green;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 2em;
	position: absolute;
	z-index: 3;
	vertical-align: top;
}

button {
	position: absolute;
	bottom: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 2;
	vertical-align: bottom;
}

button:hover {
	background-color: #666;
}

#transparent-mirror {
	left: 20px;
}

#map {
	right: 20px;
}
