body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	font-family: 'Cabin', sans-serif;
	overflow: hidden;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#datetime {
	top:0;
	color: white;
	background-color: green;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 2em;
	position: absolute;
	z-index: 3;
	vertical-align: top;
}

button {
	position: absolute;
	bottom: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: bottom;
}




button:hover {
	background-color: #666;
}

#leftbutton {
	position: absolute;
	left: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: middle;
	text-align: left;
}



#leftbutton:hover {
	background-color: #666;
}

#rightbutton {
	position: absolute;
	right: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: middle;
	text-align: right;
}



#rightbutton:hover {
	background-color: #666;
}




#transparent-mirror {
	left: 20px;
}

#map {
	right: 20px;
}
