/* styles.css */

body {
		margin: 0;
		padding: 0;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Cabin', sans-serif;
		overflow: hidden;
		position: relative;
	background-color:#000000;
}

#datetime {
		top: 0;
		color: white;
		background-color: green;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 2em;
		position: absolute;
		z-index: 3;
}

button {
		position: absolute;
		bottom: 20px;
		color: white;
		background-color: #444;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 1em;
		cursor: pointer;
		z-index: 3;
}

button:hover {
		background-color: #666;
}

#leftbutton {
		position: absolute;
		left: 20px;
		color: white;
		background-color: #444;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 1em;
		cursor: pointer;
		z-index: 3;
}

#leftbutton:hover {
		background-color: #666;
}

#rightbutton {
		position: absolute;
		right: 20px;
		color: white;
		background-color: #444;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 1em;
		cursor: pointer;
		z-index: 3;
}

#rightbutton:hover {
		background-color: #666;
}

#transparent-mirror {
		left: 20px;
}

#map {
		right: 20px;
}

/* emotions.css */

#emotions {
		width: 300px; /* Set to accommodate the largest "emotion cake" */
		height: 300px;
}

.emotions, .emotions3, .emotions2, .emotions1 {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

.emotions2 {
padding-top:3.5%;
	
}

.emotions1  {
	padding-top:7%;

}


.emotions3 div, .emotions2 div, .emotions1 div {
	display: flex;
	justify-content: center;
	align-items: center;
		position: absolute;
		width: 0;
		height: 0;
		border-top-style: solid;
		transform-origin: 50% 100%; /* Setting the point of rotation to the bottom center */
}


/* Emotions 3 colors */
.top {
		border-top-color: #aaaa00;
}

.top-right {
		border-top-color: #66ff66;
}

.right {
		border-top-color: #44ff44;
}

.bottom-right {
		border-top-color: #00aaaa;
}

.bottom {
		border-top-color: #4444ff;
}

.bottom-left {
		border-top-color: #aa00aa;
}

.left {
		border-top-color: #aa0000;
}

.top-left {
		border-top-color: #ff4444;
}



.top, .top2, .top1 {
	transform: rotate(0deg);
}

.top-right, .top-right2, .top-right1 {
	transform: rotate(45deg);
}

.right, .right2, .right1 {
	transform: rotate(90deg);
}

.bottom-right, .bottom-right2, .bottom-right1 {
	transform: rotate(135deg);
}

.bottom, .bottom2, .bottom1 {
	transform: rotate(180deg);
}

.bottom-left, .bottom-left2, .bottom-left1 {
	transform: rotate(225deg);
}

.left, .left2, .left1 {
	transform: rotate(270deg);
}

.top-left, .top-left2, .top-left1 {
	transform: rotate(315deg);
}

/* Emotions 3 colors */
.top, .top-right, .right, .bottom-right, .bottom, .bottom-left, .left, .top-left {
	transform-origin: 50% 100%;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
		border-top-width: 180px;
		opacity: 1;
		z-index:4;
		border-top-style: solid;
}


/* Emotions 2 colors */
.top2, .top-right2, .right2, .bottom-right2, .bottom2, .bottom-left2, .left2, .top-left2 {
	border-top-color: #888888;
	opacity: 0.5;
	transform-origin: 50% 100%;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
  	border-top-width: 120px;
		border-top-color: #888888;
		opacity: 0.5;
	  z-index:5;
	  border-top-style: solid;
}

/* Emotions 1 colors */
.top1, .top-right1, .right1, .bottom-right1, .bottom1, .bottom-left1, .left1, .top-left1 {
		border-top-color: #888888;
		opacity: 0.5;
		transform-origin: 50% 100%;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top-width: 60px;
		z-index:6;
  	border-top-style: solid;
}







#wheel {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 50px auto;
	border-radius: 50%;
	border: 2px solid #000;
}

.field {
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: lightblue;
	transform: translate(-50%, -50%);
}

.hub {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: lightcoral;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
}

.spoke {
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: lightgreen;
	transform: translate(-50%, -50%);
}