body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	font-family: 'Cabin', sans-serif;
	overflow: hidden;
	position: relative;
}

#datetime {
	top:0;
	color: white;
	background-color: green;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 2em;
	position: absolute;
	z-index: 3;
	vertical-align: top;
}

button {
	position: absolute;
	bottom: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: bottom;
}




button:hover {
	background-color: #666;
}

left {
	position: absolute;
	bottom: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: middle;
	text-align: left;
	left: 0;
}



left:hover {
	background-color: #666;
}

right {
	position: absolute;
	bottom: 20px;
	color: white;
	background-color: #444;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	z-index: 3;
	vertical-align: middle;
	text-align: right;
	right: 0;
}



right:hover {
	background-color: #666;
}


.emotions {
	position: relative;
	width: 100px;
	height: 100px;
}

.emotions div {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #88ff88;
}

.top {
	top: 0;
	left: 0;
	transform: translate(0, -25px) rotate(0deg);
}

.top-right {
	top: 0;
	left: 50%;
	transform: translate(-50%, -25px) rotate(45deg);
}

.right {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
}

.bottom-right {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 25px) rotate(135deg);
}

.bottom {
	bottom: 0;
	left: 0;
	transform: translate(0, 25px) rotate(180deg);
}

.bottom-left {
	bottom: 0;
	right: 50%;
	transform: translate(50%, 25px) rotate(225deg);
}

.left {
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%) rotate(270deg);
}

.top-left {
	top: 0;
	right: 50%;
	transform: translate(50%, -25px) rotate(315deg);
}
#transparent-mirror {
	left: 20px;
}

#map {
	right: 20px;
}
